* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.img-com{
    width: 300%;
    height: 500px;
    opacity: 0.7;

}
.card-text{
    color: rgb(255, 255, 255);
}
.img-com2{
    width: 300%;
    height: 600px;
    opacity: 0.7;
}



