* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.card-inicio ,.card{
    max-width: 100%;
    height: auto;
    display: block; 
}
.img-com{
    height: 550px;
    opacity: 0.7;
    width: 98vw;
    border-radius: 5px;
    background-attachment: fixed;
    background-size: contain;
}
.card-text{
    color: rgb(255, 255, 255);
}
.img-com2{
    height: 550px;
    opacity: 0.7;
    background-attachment: fixed;
    background-size: cover;
    width: 98vw;
    border-radius: 5px;
}
.card-img-overlay{
    font-size: .8rem;
    text-align: left;

}



