* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

h5 {
    font-size: 10px;
}

.i {
    font-size: 50px;
}

a:hover {
    color: aqua;
}

.logo-secciones {
    height: 10px;
    display: contents;
    width: 20px;
}

.logo-partes {
    height: 50px;
}